/* https://element-plus.org/zh-CN/guide/theming.html */

/* element-plus 主題設定 */
:root {
  --el-color-primary: #67c23a !important;
  --el-color-primary-light-3: #95d475 !important;
  --el-color-primary-light-5: #b3e19d !important;
  --el-color-primary-light-7: #d1edc4 !important;
  --el-color-primary-light-8: #e1f3d8 !important;
  --el-color-primary-light-9: #f0f9eb !important;
}
